.nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    height: 3rem;
    width: 100%;
}
